.stats-content {
  height: 100vh;
  width: 100%;
  // background: red;

  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;

  .stats-card {
    width: 45%;
    height: 30%;
    border: 4px solid var(--main-link-color);

    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      color: var(--purple-color);
    }
    .title {

    }
    .stat {
      color: var(--main-link-color);
      font-size: 20px;
    }
  }
}