.meditation-player {
  position: fixed; 
  z-index: 1000; 
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  background: red;
  .close-button:hover {
    cursor: pointer;
  }
}


.vidPlayer{
    pointer-events: none;
  }
  
  .playerButton{
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    border-radius: 3px;
    color: palevioletred;
    border: 2px solid palevioletred;
    margin: 0 1em;
    padding: 0.25em 1em;
    transition: 0.5s all ease-out;
    &:hover {
      background-color: palevioletred;
      color: white;
            }
    }
  
    .track{
      width: 100%;
      height: 20px;
      background-color: #222;
      border-radius: 10px;
      box-shadow: inset 0 0 5px #000;
      #thumb{
        width: auto;
        height: 100%;
        background-color: #6bccf9;
        border-radius: 8px;
        transition: width 0.5s linear;
    }  
    }
      
  
  
  
  